invoke
livereload
ruamel.yaml
typogrify ~= 2.1.0
Markdown ~= 3.7
pelican ~= 4.12.0

# plugins
## available on pip
pelican-neighbors
pelican-liquid-tags
pelican-social-cards

## in process of being ported to pelican-plugins
https://github.com/mirekdlugosz/pelican-plugins-summary/archive/migrate.zip

## local - no intent of publishing
./plugins/figures
./plugins/readtime
./plugins/rename-to-slug
