{% extends "_base.html" %}

{% block page_classes %}archive{% endblock %}

{% block content %}
<section id="categories">
    <h2>Categories</h2>
    <ul class="links-list">

        {% set filtered_tags = (
            tags |
            rejectattr("0.slug", "eq", "planet-python") |
            rejectattr("0.slug", "eq", "planet-ast")
        ) %}
        {% for existing_tag in filtered_tags |sort %}
        <li class="item category-item category-{{ existing_tag.0.slug }}{% if tag and existing_tag.0.name == tag %} active{% endif %}">
            <a href="{{ SITEURL }}/{{ existing_tag.0.save_as }}">{{ existing_tag.0.name }}</a>
        </li>
        {% endfor %}
    </ul>
</section>

<main id="articles">
    {% for article in dates %}
    <div class="article">
        <p class="timestamp"><time datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time></p>
        <p class="title">
            <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
        </p>
    </div>
    {% endfor %}
</main>

{% endblock content %}
