{% extends "base.html" %}

{% block title %}{{ page.title }}{% endblock %}

{% block html_lang %}{{ page.lang }}{% endblock %}

{% block meta %}
	{{ super() }}
    {% if page.summary %}
	<meta name="description" content="{{ page.summary|striptags|escape }}" />
    {% endif %}
{% endblock %}

{% block canonical_rel %}
<link rel="canonical" href="{{ SITEURL }}/">
{% endblock %}

{% block main_body%}
<nav class="navbar navbar-default navbar-fixed-top" id="navbar-main">
	<div class="container main">

		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
														 data-target=".navbar-collapse" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">{{ SITENAME }}</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse">
			<!-- Left Nav Bar -->
			<ul class="nav navbar-nav navbar-right">
				<li class="nav-item">
					<a href="#about">
						<span>About</span>
					</a>
				</li>
				<li class="nav-item">
					<a href="#work-experience">
						<span>Work experience</span>
					</a>
				</li>
				<li class="nav-item">
					<a href="#skills">
						<span>Skills</span>
					</a>
				</li>
				<li class="nav-item">
					<a href="#tools">
						<span>Tools</span>
					</a>
				</li>
				<li class="nav-item">
					<a href="#education">
						<span>Education</span>
					</a>
				</li>
				<li class="nav-item">
					<a href="#contact">
						<span>Contact</span>
					</a>
				</li>
			</ul>

		</div><!-- /.navbar-collapse -->
	</div><!-- /.container -->
</nav>

<section id="about" class="home-section">
	<div class="container main">
		<!-- About widget -->
		<div class="row" itemprop="author" itemscope itemtype="http://schema.org/Person">
			<div class="col-xs-12 col-md-4">
				<div id="profile">
					<div class="portrait">
						<img itemprop="image" src="/theme/img/main-photo.jpg">
					</div>

					<div class="portrait-title">
						<h2 itemprop="name">Mirosław Zalewski</h2>
					</div>

					<ul class="social-icon" aria-hidden="true">
					{% for name, link, icon in SOCIAL_MAIN %}
						<li>
							<a title="{{ name }}" href="{{ link }}">
								<i class="fa big-icon fa-{{ icon }}"></i>
							</a>
						</li>
					{% endfor %}
					</ul>

				</div>
			</div>
			<div class="col-xs-12 col-md-8 entry-content" itemprop="description">
				<p>I am Mirosław Zalewski, software tester living in Poznań, Poland.</p>
				<p>I do wear glasses, but I don't have any recent photo with them on.</p>
				<p>Feel free to <a href="/blog">read my blog</a>, <a href="mailto:mz %at% miroslaw-zalewski.eu">send me an e-mail</a> or follow me on social media sites.</p>


				<!-- <div class="row">
					<div class="col-sm-5">
						<h3>Interests</h3>
						<ul class="ul-interests">
							<li></li>
						</ul>
					</div>

					<div class="col-sm-7">
						<h3>Education</h3>
						<ul class="ul-edu fa-ul">
							<li>
								<i class="fa-li fa fa-graduation-cap"></i>
								<div class="description">
									<p class="course"></p>
									<p class="institution"></p>
								</div>
							</li>
						</ul>
					</div>
				</div> -->
			</div>
		</div>
	</div>
</section>

<section id="work-experience" class="home-section">
	<div class="container main">
		<div class="row">
			<div class="col-xs-12 col-md-4 section-heading">
				<h1>Work experience</h1>
			</div>
			<div class="col-xs-12 col-md-8">
				<p>Lorem ipsum</p>
			</div>
		</div>
	</div>
</section>

<section id="skills" class="home-section">
	<div class="container main">
		<div class="row">
			<div class="col-xs-12 col-md-4 section-heading">
				<h1>Skills</h1>
				<p>I won't blink if you ask me to do any of these</p>
			</div>
			<div class="col-xs-12 col-md-8">
				<ul class="listing">
					<li>Manual testing</li>
					<li>Test automation</li>
					<li>Test planning</li>
					<li>Exploratory testing</li>
					<li>Functional testing</li>
					<li>Integration testing</li>
					<li>Regression testing</li>
					<li>Black box testing</li>
					<li>White box testing</li>
					<li>Requirements review</li>
					<li>Test estimation</li>
					<li>Test designing</li>
					<li>Bug triaging</li>
					<li>Issue pinpointing</li>
					<li>Root cause analysis</li>
					<li>Bug tracking</li>
					<li>Preparing test documentation</li>
					<li>Data analysis</li>
				</ul>
			</div>
		</div>
	</div>
</section>

<section id="tools" class="home-section">
	<div class="container main">
		<div class="row">
			<div class="col-xs-12 col-md-4 section-heading">
				<h1>Tools</h1>
				<p>I am comfortable discussing; there are many more I used once or twice</p>
			</div>
			<div class="col-xs-12 col-md-8">
				<ul class="listing">
					<li>JIRA</li>
					<li>HP ALM</li>
					<li>Jenkins</li>
					<li>Confluence wiki</li>
					<li>Git</li>
					<li>Python</li>
					<li>JavaScript</li>
					<li>R</li>
					<li>Bash</li>
					<li>SQL</li>
					<li>Linux</li>
					<li>Selenium WebDriver</li>
					<li>Web services</li>
					<li>Protractor</li>
				</ul>
			</div>
		</div>
	</div>
</section>

<section id="education" class="home-section">
	<div class="container main">
		<div class="row">
			<div class="col-xs-12 col-md-4 section-heading">
				<h1>Education</h1>
			</div>
			<div class="col-xs-12 col-md-8">
				<div class="description row">
					<div class="col-xs-3"><p>2017</p></div>
					<div class="col-xs-9">
						<p class="course"><em>Statistical data analysis in public administration and business</em>, Postgraduate studies</p>
						<p class="institution">Poznań University of Economics</p>
					</div>
				</div>
				<div class="description row">
					<div class="col-xs-3"><p>2008‒2013</p></div>
					<div class="col-xs-9">
						<p class="course"><em>Sociology</em>, Master of Arts</p>
						<p class="institution">Adam Mickiewicz University in Poznań</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="contact" class="home-section">
	<div class="container main">
		<div class="row">
			<div class="col-xs-12 col-md-4 section-heading">
				<h1>Contact</h1>
			</div>
			<div class="col-xs-12 col-md-8">
			</div>
		</div>
	</div>
</section>
{% endblock %}

{% block ignored %}
<!-- Remove this part later on - it's here only to ease copy-paste process in main_body block -->
<section id="" class="home-section">
	<div class="container main">
		<div class="row">
			<div class="col-xs-12 col-md-4 section-heading">
				<h1></h1>
			</div>
			<div class="col-xs-12 col-md-8">
			</div>
		</div>
	</div>
</section>
{% endblock %}
