{% extends "_base.html" %}
{% block title %}Archives - {{ SITENAME }}{% endblock %}

{% block content %}
<section id="content">
    <h1>Site archives</h1>
    <div id="archives">
        <h2>Search</h2>
        <form action="https://www.google.com/search" method="get" class="input-group mb-4">
            <input type="hidden" name="ie" value="UTF-8">
            <input type="hidden" name="sitesearch" value="{{ SITEURL[8:] }}">
            <label for="q" class="sr-only">Search query</label>
            <input type="text" name="q" placeholder="Type in search keyword" class="form-control">
            <div class="input-group-append">
                <input type="submit" value="Search using Google" class="btn btn-secondary">
            </div>
        </form>

        <h2>Browse by category</h2>
        <ul class="categories">
            {% set tag_replacements = {
                'tag': 'feeds',
                '/index.html': '.atom.xml',
            } %}

            {% set filtered_tags = (tags| rejectattr("0.slug", "eq", "planet-python")) %}
            {% for tag in filtered_tags |sort %}
            {% set tag_feed_url = tag.0.save_as| dict_replace(tag_replacements) %}
            <li class="category-item category-{{ tag.0.slug }}">
                <a href="{{ SITEURL }}/{{ tag.0.save_as }}">{{ tag.0.name }}</a>
                <a href="{{ SITEURL }}/{{ tag_feed_url }}" title="Atom feed for {{ tag.0.name }}">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-rss" viewBox="0 0 16 16">
                        <path d="M5.5 12a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm-3-8.5a1 1 0 0 1 1-1c5.523 0 10 4.477 10 10a1 1 0 1 1-2 0 8 8 0 0 0-8-8 1 1 0 0 1-1-1zm0 4a1 1 0 0 1 1-1 6 6 0 0 1 6 6 1 1 0 1 1-2 0 4 4 0 0 0-4-4 1 1 0 0 1-1-1z"/>
                    </svg>
                </a>
            </li>
            {% endfor %}
        </ul>

        <h2>Browse by date</h2>
        {% for article in dates %}
        <div class="row article">
            <p class="col-12 col-md-4 timestamp"><time datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time></p>
            <p class="col-12 col-md-8 title">
            <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
            </p>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}
