{% extends "base.html" %}
{% block content %}
{% if articles %}
{% for article in (articles_page.object_list if articles_page else articles) %}
<article class="post-preview">
	<h2 class="post-title"><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h2>
	{% include "includes/article_info.html" %}
	<div class="summary">
		{% if article.summary %}
		{{ article.summary }}
		{% endif %}
		<p><a class="btn btn-secondary btn-sm" role="button" href="{{ SITEURL }}/{{ article.url }}">Continue reading <i class="fas fa-chevron-right"></i></a></p>
	</div>
</article>
{% if not loop.last %}
<hr/>
{% endif %}
{% endfor %}
{% endif %}

{% if articles_page and articles_paginator.num_pages > 1 %}
<nav aria-label="Articles archive navigation">
    <ul class="pagination justify-content-center">
        {% if articles_page.has_previous() %}
        <li class="page-item">
            <a class="page-link" href="{{ SITEURL }}/{{ articles_previous_page.url }}" aria-label="Previous">
                <i class="fas fa-chevron-left"></i>
                Newer articles
            </a>
        </li>
        {% endif %}
        {% if articles_page.has_next() %}
        <li class="page-item">
            <a class="page-link" href="{{ SITEURL }}/{{ articles_next_page.url }}" aria-label="Next">
                Older articles
                <i class="fas fa-chevron-right"></i>
            </a>
        </li>
        {% endif %}
    </ul>
</nav>
{% endif %}
{% endblock content %}

{% block scripts %}
{% if DISQUS_SITENAME %}
    <!-- Disqus -->
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = '{{ DISQUS_SITENAME }}'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function () {
            var s = document.createElement('script');
            s.async = true;
            s.type = 'text/javascript';
            s.src = '//' + disqus_shortname + '.disqus.com/count.js';
            (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
        }());
    </script>
    <!-- End Disqus Code -->
{% endif %}
{% endblock %}
