{% extends "base.html" %}

{% block title %}{{ page.title }}{% endblock %}

{% block html_lang %}{{ page.lang }}{% endblock %}

{% block meta %}
	{{ super() }}
    {% if page.summary %}
	<meta name="description" content="{{ page.summary|striptags|escape }}" />
    {% endif %}
{% endblock %}

{% block canonical_rel %}
<link rel="canonical" href="{{ SITEURL }}/{{ page.lang }}/">
{% endblock %}

{% block main_body%}
	{% if page.translations %}
	<div class="alert-info text-center" role="alert">
	{% for translation in page.translations %}
		<a href="{{ SITEURL }}/{{ translation.lang }}/">{{ translation.switch_language }}</a>
	{% endfor %}
	</div>
	{% endif %}


	<div class="jumbotron face row">
		<div class="container">
			<div class="col-md-4 col-sm-12">
				<h1>{{ page.greeting }}</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sed nunc id nisl laoreet mollis. Suspendisse placerat justo vel volutpat imperdiet. Quisque mollis pellentesque ornare. </p>
				<p><a href="{{ SOCIAL[0][1] }}" class="btn btn-lg btn-success">{{ page.send_email }}</a></p>
			</div>
		</div>
	</div>
	</div>

	<div class="container text-center">
		<h2 id="work" class="features-heading">{{ page.what_can_i_do }}</h2>
		<div class="row">
			<div class="col-md-3 col-sm-6">
				<img src="/assets/img/excel.png" class="center-block">
				<h3>{{ page.Excel }}</h3>
				<p>{{ page.excel_usage }}</p>
			</div>
			<div class="col-md-3 col-sm-6">
				<img src="/assets/img/desktop.jpg" class="center-block">
				<h3>{{ page.Desktop }}</h3>
				<p>{{ page.ahk_usage }}</p>
			</div>
			<div class="col-md-3 col-sm-6">
				<img src="/assets/img/linux.png" class="center-block">
				<h3>{{ page.Linux_server }}</h3>
				<p>{{ page.linux_usage }}</p>
			</div>
			<div class="col-md-3 col-sm-6">
				<img src="/assets/img/data.png" class="center-block">
				<h3>{{ page.Data_analysis }}</h3>
				<p>{{ page.data_usage }}</p>
			</div>
		</div>


		<h2 id="projects" class="features-heading">{{ page.latest_projects }}</h2>
		<div class="row">
		</div>


		<h2 id="business" class="features-heading">{{ page.hire_me }}</h2>
		<div class="row">
		</div>

		<h2 id="contact" class="features-heading">{{ page.social_media }}</h2>
		<div class="row">
			{% for name, link, icon in SOCIAL_MAIN %}
			<div class="{% if loop.first %}col-md-offset-2 {% endif %}col-md-1 col-sm-2">
				<a title="{{ name }}" href="{{ link }}">
					<i class="fa fa-5x fa-{{ icon }}"></i>
					<p>{{ name }}</p>
				</a>
			</div>
			{% endfor %}
		</div>
{% endblock %}
