$font-family-serif: 'Merriweather', serif;
$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$main-font-family: $font-family-serif !default;

$main-vertical-gap: 1.5rem !default;
$main-horizontal-gap: 1rem !default;

$max-content-width: 800px !default;
$min-horizontal-padding: 1rem !default;

$main-bg: white !default;
$main-color: #212529 !default;
$main-color-lighter: #8b948e !default;
$primary-color: #0085a1 !default;

$header-image-menu-gap: 6vw;
$header-image-size: 200px;
$header-image-left-margin: 40px;

@mixin for-phone-only {
  @media (max-width: 599px) { @content; }
}

@mixin for-tablet-portrait-up {
  @media (min-width: 600px) { @content; }
}

@mixin for-tablet-landscape-up {
  @media (min-width: 900px) { @content; }
}

@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }
}

@mixin for-wide-to-fit-image-gap-on-left {
  @media (min-width: calc($max-content-width + ($header-image-size + $header-image-left-margin) * 2 + $header-image-menu-gap)) { @content; }
}

@mixin link-inherit-color() {
    a,
    a:focus,
    a:hover {
        color: inherit;
    }
}

html {
    color: $main-color;
    font-family: $main-font-family;
    font-size: clamp(16px, 4vw, 22px);
    line-height: clamp(1.75em, 4vw, 1.9em);
    overflow-x: hidden;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga" on;
}

body > :not(#top-image) {
    padding: 0 $min-horizontal-padding;

    @include for-tablet-landscape-up {
        padding: unset;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-family-sans-serif;
    line-height: 1.5;
    @include link-inherit-color();
}

a {
    color: $primary-color;
    transition: all 0.2s;
    text-decoration: none;
    &:focus,
    &:hover {
        text-decoration: underline;
    }
    &.toclink {
        text-decoration: none;
    }
}

p {
    margin: $main-vertical-gap 0;
}

ol,
ul {
    margin: $main-vertical-gap 0;
    padding-inline-start: $min-horizontal-padding;
    @include for-tablet-landscape-up {
        padding-inline-start: 0;
    }
}

li {
    margin-bottom: $main-vertical-gap * 0.8;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

hr {
    margin: $main-vertical-gap 0;
    border: 0;
    border-top: 1px solid $main-color-lighter;
    height: 0;
}

figcaption {
    text-align: center;
}

blockquote {
    margin-left: 0;
    padding-left: $main-horizontal-gap;
    border-left: math.div($main-horizontal-gap, 3) solid $main-color-lighter;
}

code {
    padding: 0.2rem 0.5rem;
    color: var(--pygment-text-color);
    background-color: var(--pygment-bg-color);
}

.highlight {
    width: 100vw;
    position: relative;
    left: 50%;
    margin-left: -50vw;
    background-color: var(--pygment-bg-color);
    border: 1px solid #ccc;
    border-left: 0;
    border-right: 0;

    pre {
        font-size: 16px;
        line-height: 1.5;
        margin: 0;
        padding: math.div($min-horizontal-padding, 2) $min-horizontal-padding;

        code {
            padding: 0;
        }
    }

    @media (min-width: $max-content-width) {
        pre {
            max-width: $max-content-width;
            margin: 0 auto;
        }
    }

    @include for-tablet-landscape-up {
        display: flex;
        justify-content: center;
        pre {
            min-width: $max-content-width;
            max-width: 85vw;
            padding-left: unset;
            padding-right: unset;
        }
    }

    & + h1,
    & + h2,
    & + h3,
    & + h4,
    & + h5,
    & + h6,
    & + & {
        margin-top: $main-vertical-gap;
    }
}

.gallery {
    @include for-tablet-portrait-up {
        display: flex;
        flex-wrap: wrap;
        column-gap: $main-horizontal-gap;
        row-gap: $main-vertical-gap;

        figure {
            margin: 0;
            flex-basis: calc((100% - $main-horizontal-gap) / 2);
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }

    @include for-tablet-landscape-up {
        figure {
            flex-basis: calc((100% - 2 * $main-horizontal-gap) / 3);
        }
    }
}

figure {
    margin-left: 0;
    margin-right: 0;
}

figcaption,
.caption {
    color: $main-color-lighter;
    display: block;
    margin: 0;
    padding: 1rem 1rem 0;
    text-align: center;
}

svg.bi {
    height: 1em;
    vertical-align: text-top;

    &.bi-tags-fill,
    &.bi-rss {
        height: 1.2em;
    }
    &.bi-chevron-right,
    &.bi-clock {
        vertical-align: middle;
    }

}

.sr-only {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
}

.main-column {
    max-width: $max-content-width;
    margin: 0 auto;
}

ul.links-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 1rem;

    li.item {
        margin: 0;
        padding: 0;
        white-space: nowrap;
        @include link-inherit-color();
        > a:hover {
            text-decoration: none;
        }
        &.active {
            text-decoration: underline;
        }
    }
}

// header

#top-image {
    background-image: url(/theme/img/header-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    min-height: 200px;
    max-height: 25vh;
    background-position: center bottom;
    margin: 0;
    @include for-tablet-landscape-up {
        background-size: 100%;
        max-height: min(45vh, calc(241px * 100vw / 614px));
    }
}

#page-header {
    display: flex;
    flex-direction: column-reverse;

    @include for-tablet-portrait-up {
        flex-direction: row;
        gap: $header-image-menu-gap;
    }
    @include for-wide-to-fit-image-gap-on-left {
      gap: 0;
    }

    #photo {
        flex-shrink: 0;
        img {
            width: $header-image-size;
            height: $header-image-size;
            margin: $main-vertical-gap auto 0 auto;
            border-radius: 50%;
            background-size: cover;
            @include for-tablet-portrait-up {
                margin-top: calc($header-image-size / 2 * -1);
                margin-left: 10px;
            }
            @include for-tablet-landscape-up {
                margin-left: $header-image-left-margin;
            }
        }
    }

    #navbar {
        color: $main-color;
        font-family: $font-family-sans-serif;
        margin-left: 0;
        @include link-inherit-color();
        .navbar-brand {
            font-weight: bold;
            font-size: clamp(2em, 8vw, 3em);
            line-height: 1.2;
            &:hover {
                text-decoration: none;
            }
        }
        #main-menu {
            font-size: 1.2rem;
        }
        @include for-wide-to-fit-image-gap-on-left {
            margin-left: calc(((100% - $max-content-width) / 2) - $header-image-size - $header-image-left-margin);
        }
    }
}

// hide image on mobile, except for two pages where it does make sense
body:not(.page-main, .page-about) #photo {
    display: none;

    @include for-tablet-portrait-up {
        display: unset;
    }
}


// footer

body > footer {
    margin: 2rem auto 4rem;
    max-width: $max-content-width;
    .list-inline {
        margin: 0;
        padding: 0;
    }
    .copyright {
        font-size: 0.8rem;
        margin-bottom: 0;
        text-align: center;
        a[rel="license"] {
            white-space: nowrap;
        }
    }
    .privacy {
        margin-top: 0;
    }
}

// post listing

.archive {
    #categories {
        margin-bottom: $main-vertical-gap;
        h2 {
            margin-bottom: 0;
        }
    }

    #articles {
        .article {
            display: flex;
            flex-direction: column;
            margin-bottom: $main-vertical-gap;
            p {
                margin: 0;
            }
            @include for-tablet-portrait-up {
                flex-direction: row;

                .timestamp {
                    flex-basis: 19ex;
                    flex-shrink: 0;
                }
            }
        }
    }
}

// single post

.post-info {
    @include link-inherit-color();
    > span {
        margin-left: 1rem;
        &:first-of-type {
            margin-left: 0;
        }
    }
}

.singular article {
    table {
        width: 100%;
        @include for-tablet-portrait-up {
            table-layout: fixed;
        }

        thead th {
            text-align: left;
        }
    }

    header a:hover {
        text-decoration: none;
    }
}

#read-next {
    margin: $main-vertical-gap * 2 0 $main-vertical-gap;
    padding: 0;
    text-align: center;
    @include link-inherit-color();
    ul {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        @include for-tablet-portrait-up {
            flex-direction: row;
            gap: $main-horizontal-gap;
        }
    }
    li {
        list-style: none;
        margin-bottom: 0;
        @include for-tablet-portrait-up {
            flex-basis: 50%;
        }
    }
    p {
        font-family: $font-family-sans-serif;
        color: $main-color-lighter;
        margin-top: 0;
        margin-bottom: 0;
    }
    h3 {
        margin-top: 0;
        margin-bottom: math.div($main-vertical-gap, 2);
    }
    a,
    a:hover,
    a:focus {
        text-decoration: none;
    }
    @include for-tablet-portrait-up {
        .previous {
            text-align: left;
        }
        .next {
            text-align: right;
        }
    }
}

#load-comments {
    display: block;
    margin: 0 auto;
    padding: 0.5rem 2rem;
    background-color: $main-color-lighter;
    border-radius: 0.25rem;
    border: 1px solid $main-color-lighter;
    color: $main-bg;
    cursor: pointer;
}

.contact-list {
    display: flex;
    justify-content: space-around;

    .item {
        text-align: center;
        svg.bi {
            height: 3em;
        }
        a:hover {
            text-decoration: none;
        }
    }
}

#projects {
    .single-project {
        h2 {
            //margin-top: $main-vertical-gap * 2;
        }

        .thumbnail img {
            max-height: 200px;
        }

        .links p {
            margin-bottom: math.div($main-vertical-gap, 2);
            display: flex;
            flex-direction: row;
            column-gap: $main-horizontal-gap;

            .bi-github {
                color: $main-color;
                vertical-align: middle;
            }
        }
    }
}
