// put your own styles here

@mixin link-inherit-color() {
    a,
    a:focus,
    a:hover {
        color: inherit;
    }
}

body {
    color: $gray-900;
    font-family: $font-family-base;
    overflow-x: hidden;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga" on;
    @include media-breakpoint-down(sm) {
        font-size: $font-size-sm;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-family-sans-serif;
    @include link-inherit-color();
}

a {
    color: $primary;
    transition: all 0.2s;
    &:focus,
    &:hover {
        text-decoration: underline;
    }
    &.toclink {
        text-decoration: none;
    }
}

p {
    line-height: $line-height-base;
    margin: $paragraph-margin-bottom 0;
}

ol,
ul {
    margin: $paragraph-margin-bottom 0;
    @include media-breakpoint-up(sm) {
        margin-left: -0.7rem;
        padding-left: 0;
    }
}

li {
    line-height: $line-height-base;
    margin-bottom: $paragraph-margin-bottom * 0.8;
    @include media-breakpoint-up(sm) {
        padding-left: 0.7rem;
    }
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

figcaption {
    text-align: center;
}

blockquote {
    font-style: italic;
    color: $gray-600;
    margin-left: $paragraph-margin-bottom;
}

pre {
    font-size: $font-size-sm;
    margin: $paragraph-margin-bottom 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.highlight {
    width: 100vw;
    position: relative;
    left: 50%;
    margin-left: -50vw;
    display: flex;
    justify-content: center;

    pre {
        margin: 0;
        min-width: calc(100vw - #{$grid-gutter-width});
        max-width: calc(100vw - #{$grid-gutter-width});

        @include media-breakpoint-up(sm) {
            min-width: 540px - $grid-gutter-width;
        }

        @include media-breakpoint-up(md) {
            min-width: 600px - $grid-gutter-width;
        }

        @include media-breakpoint-up(lg) {
            min-width: 640px - $grid-gutter-width;
        }

        @media (min-width: 1200px) {
            min-width: 730px;
            max-width: 85vw;
        }
    }

    & + h1,
    & + h2,
    & + h3,
    & + h4,
    & + h5,
    & + h6,
    & + & {
        margin-top: $paragraph-margin-bottom;
    }
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    figure {
        margin-left: 0;
        margin-bottom: $paragraph-margin-bottom;
        flex-basis: 100%;
    }

    @include media-breakpoint-up(md) {
        figure {
            flex: 1 0 30%;
        }

        figure + figure {
            margin-left: $grid-gutter-width;
        }

        figure:nth-child(4n) {
            margin-left: 0;
        }
    }
}

figcaption,
.caption {
    font-size: $font-size-sm;
    color: $figure-caption-color;
    display: block;
    margin: 0;
    padding: 1rem 1rem 0;
    text-align: center;
}

::-moz-selection {
    color: $white;
    background: $primary;
    text-shadow: none;
}

::selection {
    color: $white;
    background: $primary;
    text-shadow: none;
}

img::selection {
    color: $white;
    background: transparent;
}

img::-moz-selection {
    color: $white;
    background: transparent;
}

// Styling for the navbar
#mainNav {
    min-height: 70px !important;
    box-shadow: 0 0.125rem 0.25rem 0 rgba(0,0,0,.11);
    background-color: white;
    color: $gray-900;
    font-family: $font-family-sans-serif;
    visibility: visible;
    opacity: 1;
    transition: visibility 0.2s, opacity 0.2s linear;
    .navbar-brand {
        text-transform: uppercase;
        font-weight: 800;
    }
    .navbar-toggler {
        font-size: $font-size-sm;
        font-weight: 800;
        padding: 13px;
        text-transform: uppercase;
    }
    .navbar-nav {
        > li.nav-item {
            margin: 0;
            > a {
                font-size: $font-size-sm;
                font-weight: 800;
                text-decoration: none;
                color: $gray-900;
                &:focus,
                &:hover {
                    color: $primary;
                }
            }
        }
    }
    ul {
        margin: 0;
    }
    &.hidden {
        visibility: hidden;
        opacity: 0;
    }
    & + * {
        padding-top: 4.5 * $font-size-base;
    }
}

.post-preview {
    > a {
        color: $gray-900;
        &:focus,
        &:hover {
            text-decoration: none;
            color: $primary;
        }
    }

    + nav {
        ul {
            margin: 3rem 0 0;
            li {
                margin: 0;
                padding: 0;
            }
        }
    }
}

.post-info {
    font-size: $font-size-sm;
    @include link-inherit-color();
    > span {
        margin-left: $font-size-base;
        &:first-of-type {
            margin-left: 0;
        }
    }
}

.summary a.btn {
    text-decoration: none;
}

#content.article {
    header a:hover {
        text-decoration: none;
    }

    .entry-content > p:first-of-type {
        font-weight: 700;
    }
}

.read-next {
    margin: $paragraph-margin-bottom * 2 0 $paragraph-margin-bottom;
    padding: 0;
    @include link-inherit-color();
    text-align: center;
    li {
        list-style: none;
        margin-bottom: 0;
    }
    p {
        font-family: $font-family-sans-serif;
        color: #9eabb3;
        margin-top: 0;
        margin-bottom: 0;
    }
    a,
    a:hover,
    a:focus {
        text-decoration: none;
    }
    @include media-breakpoint-up(md) {
        li.col-md-6 {
            max-width: 48%;
            flex-basis: 48%;
        }
    }
    @include media-breakpoint-up(lg) {
        .previous {
            text-align: left;
        }
        .next {
            text-align: right;
        }
    }
}

p.see-all {
    text-align: right;
}

#archives {
    ul {
        margin-left: 0;
        li {
            display: inline;
            padding: 0 1.5rem 0 0;
            white-space: nowrap;
            @include link-inherit-color();
        }
    }
    .article {
        margin-top: $paragraph-margin-bottom;
        margin-bottom: $paragraph-margin-bottom;
        p {
            margin: 0;
        }
        .timestamp {
            font-size: $font-size-sm;
            color: $text-muted;
        }
    }
}

#about #profile {
    text-align: center;
    img {
        width: 200px;
        height: 200px;
        margin: $paragraph-margin-bottom auto 0 auto;
        border-radius: 50%;
        background-size: cover;
    }
}

@include media-breakpoint-up(sm) {
    #about + * {
        margin-top: $paragraph-margin-bottom * 2;
    }
}

#contact .item {
    text-align: center;
    .far,
    .fas,
    .fab {
        font-size: 3em;
    }
    a:hover {
        text-decoration: none;
    }
}

#projects {
    .col-sm-6 {
        margin-bottom: $paragraph-margin-bottom;
    }

    .project-card {
        height: 100%;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
        transition: all 0.2s ease-out;
        display: flex;
        flex-direction: column;
        margin: 4px 0;
        .card-image {
            display: block;
            min-height: 150px;
            height: 18vh;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: top center;
        }
        .card-text {
            height: calc(100% - 18vh);
            display: flex;
            flex-direction: column;
            padding: 1rem 0.75rem;
        }
        .card-description {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        h2 {
            font-size: $h4-font-size;
            font-weight: 700;
            @include link-inherit-color();
        }
        p {
            margin: $paragraph-margin-bottom / 2 0;
        }
        p.tags {
            font-size: $font-size-sm;
            height: 4rem;
        }
        &:hover {
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        }
    }
    & > .row + p {
        margin-top: 0;
    }
}

// Styling for the footer
body > footer {
    margin: 2rem 0 4rem;
    .list-inline {
        margin: 0;
        padding: 0;
    }
    .copyright {
        font-size: 14px;
        margin-bottom: 0;
        text-align: center;
        a[rel="license"] {
            white-space: nowrap;
        }
    }
    .privacy {
        margin-top: 0;
    }
}

#load-comments {
    margin-top: 1rem;
    display: none;
}

.full-width {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    overflow: hidden;
}
