<div class="well well-sm">
<footer class="post-info">
    <span class="label label-default">Date</span>
    <span class="published">
        <time datetime="{{ article.date.isoformat() }}"> {{ article.locale_date }}</time>
    </span>
    {% if SHOW_DATE_MODIFIED %}
        {% if article.modified %}
            <span class="label label-default">Modified</span>
            <span class="modified">
                <time datetime="{{ article.modified.isoformat() }}"> {{ article.locale_modified }}</time>
            </span>
        {% endif %}
    {% endif %}
    {% if SHOW_ARTICLE_AUTHOR %}
		{% if article.author %}
			{% set author = article.author %}
		{% else %}
			{% set author = AUTHOR %}
		{% endif %}
        {% if author %}
            <span class="label label-default">By</span>
            {{ author }}
        {% endif %}
    {% endif %}

    {% if SHOW_ARTICLE_CATEGORY %}
        <span class="label label-default">Category</span>
        <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>
    {% endif %}

	{% if article.tags %}
	<span class="label label-default">Tags</span>
	{% for tag in article.tags |sort %}
		<a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>
		{% if not loop.last %}
			/
		{% endif %}
	{% endfor %}
	{% endif %}
</footer><!-- /.post-info -->
</div>
