{% if DISPLAY_TAGS_ON_SIDEBAR is not defined %}
    {% set DISPLAY_TAGS_ON_SIDEBAR = True %}
{% endif %}

{% if ABOUT_ME %}
<div id="aboutme">
    {% if AVATAR %}
        <p>
            <img width="100%" class="img-thumbnail" src="{{ AVATAR }}"/>
        </p>
    {% endif %}
    <p>
        <strong>About {{ AUTHOR }}</strong><br/>
        {{ ABOUT_ME }}
    </p>
</div>
{% endif %}

<section class="well well-sm">
    <ul class="list-group list-group-flush">
        {% if SOCIAL %}
            <li class="list-group-item"><h4><i class="fa fa-home fa-lg"></i><span class="icon-label">Social</span></h4>
              <ul class="list-group" id="social">
			    {% set replacements = { ' ': '-',
										'+': '-plus',
										'stackexchange': 'stack-exchange',
										'rss-feed': 'rss',
										'email':'envelope'
									  } %}
                {% for name, link in SOCIAL %}
					{% set name_sanitized = name|lower|dict_replace(replacements) %}
                    {% if name_sanitized in ['envelope', 'flickr', 'spotify', 'stack-overflow', 'weibo', 'stack-exchange'] %}
                        {% set iconattributes = '"fa fa-' ~ name_sanitized ~ ' fa-lg"' %}
                    {% else %}
                        {% set iconattributes = '"fa fa-' ~ name_sanitized ~ '-square fa-lg"' %}
                    {% endif %}
                <li class="list-group-item"><a href="{{ link }}"><i class={{ iconattributes }}></i> {{ name }}</a></li>
                {% endfor %}
              </ul>
            </li>
        {% endif %}

        {% if DISPLAY_RECENT_POSTS_ON_SIDEBAR %}
            {% if RECENT_POST_COUNT is not defined %}
                {% set RECENT_POST_COUNT = 5 %}
            {% endif %}
            <li class="list-group-item"><h4><i class="fa fa-home fa-lg"></i><span class="icon-label">Recent Posts</span></h4>
                <ul class="list-group" id="recentposts">
                {% for article in articles[:RECENT_POST_COUNT] %}
                    <li class="list-group-item">
                        <a href="{{ SITEURL }}/{{ article.url }}">
                            {{ article.title }}
                        </a>
                    </li>
                {% endfor %}
                </ul>
            </li>
        {% endif %}

        {% if DISPLAY_CATEGORIES_ON_SIDEBAR %}
            <li class="list-group-item"><h4><i class="fa fa-home fa-lg"></i><span class="icon-label">Categories</span></h4>
                <ul class="list-group" id="categories">
                {% for cat, null in categories %}
                    <li class="list-group-item">
                        <a href="{{ SITEURL }}/{{ cat.url }}">
                            <i class="fa fa-folder-open fa-lg"></i> {{ cat }}
                        </a>
                    </li>
                {% endfor %}
                </ul>
            </li>
        {% endif %}

        {% if DISPLAY_TAGS_ON_SIDEBAR %}
            <li class="list-group-item"><h4><i class="fa fa-tags fa-lg"></i><span class="icon-label">Tags</span></h4>
                <ul class="list-group {% if DISPLAY_TAGS_INLINE %}list-inline tagcloud{% endif %}" id="tags">
                {% for tag in tags| sort %}
                    <li class="list-group-item">
                        <a href="{{ SITEURL }}/{{ tag.0.url }}">
                            {{ tag.0.name }}
						</a>
                    </li>
                {% endfor %}
                </ul>
            </li>
		{% endif %}

		{% if LINKS and DISPLAY_LINKS_ON_SIDEBAR %}
		<li class="list-group-item"><h4><i class="fa fa-external-link-square fa-lg"></i><span class="icon-label">Links</span></h4>
			<ul class="list-group" id="links">
				{% for name, link in LINKS %}
				<li class="list-group-item">
					<a href="{{ link }}" target="_blank">
						{{ name }}
					</a>
				</li>
				{% endfor %}
			</ul>
		</li>
		{% endif %}
	</ul>
</section>
